<h1>
  <%= @user.name %>

</h1>

<p><%= @user.id %></p>

<p><%= @user.updated_at %></p>

<ol>
  <li><%= link_to "#{@user.restaurants.name}", restaurant_path %></li>

</ol>


<%= link_to "Delete #{@user.name}", user_path, method: :delete %>

<%= link_to "Edit #{@user.name}", edit_user_path %>

<%= button_to "Go Back", users_path, method: :get %>
