<!DOCTYPE html>
<html>

<head>
  <center>
    <h1>Foodster</h1>
    <h3> Here to satisfy your hunger needs. </h3>
</head>

<body>
  <h1><b><%= "#{@user.name}"%></b></h1>
  <h3>Location: <%= "#{@user.location}"%></h3>

  <h2><b><%="#{@user.name}"%>'s Reviews & Ratings</b></h2>
  <h3>
    <% @user.reviews.each do |review| %>
    <li><%= link_to "#{review.name}", review %></li>
    <% end %>
  </h3>
  <br>
  <h3><%= link_to "Delete #{@user.name}'s Profile? ", user_path, method: :delete %></h3>

  <h3><%= link_to "Edit #{@user.name}'s Profile?", edit_user_path %></h3>
</body>
<br>
<%= button_to "Go Back", users_path, method: :get %>


</center>

</html>
