<!DOCTYPE html>
<html>

<head>
  <center>
    <h4 style="font-family:courier;">"Here to satisfy your hunger needs."</h4>
    <hr>
</head>

<body>
  
  <h1><b>Restaurant: <%="#{@review.restaurant.name}"%></b></h1>
  <h3>Location: <%="#{@review.restaurant.location}"%></h3>
  <h3>Food Type: <%="#{@review.restaurant.food_type}"%></h3>
  <br>
  <h2><b>Reviews & Ratings</b></h2>
  <h3>Review: <%="#{@review.name}"%></h3>
  <h3>User: <%="#{@review.user.name}"%></h3>
  <h3>Rating: <%="#{@review.rating}"%></h3>

  <br>
  <h3><%= link_to "Delete #{@review.name} Review?", review_path, method: :delete %></h3>

  <h3><%= link_to "Edit #{@review.name} Review?", edit_review_path %></h3>
</body>
<br>
<%= button_to "Go Back", reviews_path, method: :get %>


</center>

</html>